{% include 'header.html' %}
{% load static %}

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){
            // Replace 'YOUR_PIXEL_ID' with your actual Pixel ID
            if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)
        }(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '921487979611725');
        fbq('track', 'Purchase');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=921487979611725&ev=Purchase&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

    <!--
    =============================================
        Theme Inner Banner
    ==============================================
    -->



    <div class="theme-inner-banner">
        <div class="container">
            <h2 class="intro-title text-center">অর্ডার কনফার্ম</h2>
            <h3 class="intro-title text-center">ধন্যবাদ</h3>
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
              <strong>{{ message }}</strong>
            </div>
            {% endfor %}
              <p class="text-center">&nbsp;আমাদের একজন প্রতিনিধি খুব শীঘ্রই আপনাকে কল করবে&nbsp; | আমাদেরকে অর্ডার করার জন্য&nbsp;ধন্যবাদ |</p><br/>
<!--            <ul class="page-breadcrumb style-none d-flex justify-content-center">-->
<!--                <li><a href="{% url 'index' %}">Home</a></li>-->
<!--                <li class="current-page">Products</li>-->
<!--            </ul>-->
        </div>
        <img src="{% static 'images/shape/shape_38.svg' %}" alt="" class="shapes shape-one">
        <img src="{% static 'images/shape/shape_39.svg' %}" alt="" class="shapes shape-two">
    </div> <!-- /.theme-inner-banner -->
			


{% include 'footer.html' %}