{% include 'header.html' %}

{% load static %}


<head>
    <!-- TikTok Pixel -->
    <script>
        !function (w, d, t) {
            w.TiktokAnalyticsObject = t;
            var ttq = w[t] = w[t] || [];
            ttq.methods = ["page", "track", "identify", "instances", "debug", "on", "off", "once", "ready", "alias", "group", "enableCookie", "disableCookie", "holdConsent", "revokeConsent", "grantConsent"];
            ttq.setAndDefer = function (t, e) {
                t[e] = function () {
                    t.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                }
            };
            for (var i = 0; i < ttq.methods.length; i++) ttq.setAndDefer(ttq, ttq.methods[i]);
            ttq.instance = function (t) {
                for (var e = ttq._i[t] || [], n = 0; n < ttq.methods.length; n++) ttq.setAndDefer(e, ttq.methods[n]);
                return e
            }, ttq.load = function (e, n) {
                var r = "https://analytics.tiktok.com/i18n/pixel/events.js";
                ttq._i = ttq._i || {}, ttq._i[e] = [], ttq._i[e]._u = r, ttq._t = ttq._t || {}, ttq._t[e] = +new Date, ttq._o = ttq._o || {}, ttq._o[e] = n || {};
                n = document.createElement("script");
                n.type = "text/javascript", n.async = !0, n.src = r + "?sdkid=" + e + "&lib=" + t;
                e = document.getElementsByTagName("script")[0];
                e.parentNode.insertBefore(n, e)
            };

            ttq.load('CV06LTJC77U0CTE65V60'); // Your TikTok Pixel ID
            ttq.page(); // Track Page View
            ttq.track('ViewContent'); // Track ViewContent when the page loads
        }(window, document, 'ttq');
    </script>
</head>

<body>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var checkoutBtn = document.getElementById("checkout-btn");
            var purchaseBtn = document.getElementById("purchase-btn");

            if (checkoutBtn) {
                checkoutBtn.addEventListener("click", function () {
                    ttq.track('InitiateCheckout', {
                        value: 1.00,
                        currency: "USD"
                    });
                });
            }

            if (purchaseBtn) {
                purchaseBtn.addEventListener("click", function () {
                    ttq.track('CompletePayment', {
                        value: 1.00,
                        currency: "USD",
                        contents: [{ id: "product_123", quantity: 1, price: 1.00 }]
                    });
                });
            }
        });
    </script>
</body>




<!-- Facebook Pixel Base Code -->
<script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window, document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
  
	fbq('init', '921487979611725'); // Your Pixel ID
	fbq('track', 'ViewContent'); // Event fires when page loads
  </script>
  
  <!-- NoScript Pixel Tracking -->
  <noscript>
	<img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=921487979611725&ev=ViewContent&noscript=1"/>
  </noscript>
  
  <script>
	// Function to track InitiateCheckout event
	function triggerInitiateCheckout() {
		fbq('track', 'InitiateCheckout');
		console.log('InitiateCheckout event triggered');
	}
  
	// Function to track Purchase event with value and currency
	function trackPurchase(value, currency) {
		fbq('track', 'Purchase', {
			value: value, 
			currency: currency
		});
		console.log('Purchase event triggered with value: ' + value + ' ' + currency);
	}
  </script>
  
  <!-- NoScript for Checkout -->
  <noscript>
	<img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=921487979611725&ev=InitiateCheckout&noscript=1"/>
  </noscript>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-xxxxxx" crossorigin="anonymous" />
			<div class="pr-details-one mt-120 lg-mt-90 mb-170 lg-mb-100" style="">
				<div class="container">
					<div class="wrapper ps-xxl-4 pe-xxl-4 ms-xxl-5 me-xxl-5">
						<div class="row gx-xxl-5">
							<div class="col-lg-5" style="margin-top: 35px;">
								<div class="card" style="width: 100%;">
									{% if getdigital_product.course_view_select == 'video' %}
									
									<video width="640" height="360" controls>
									<source src="{% if getdigital_product.Video %}{{ getdigital_product.Video.url }}{% endif %}" type="video/mp4">
										Your browser does not support the video tag.
									</video>
									{% elif getdigital_product.course_view_select == 'image' %}
								  <img src="{% if getdigital_product.image %}{{ getdigital_product.image.url }}{% else %}{% static 'Hrm-01.png' %}{% endif %}" class="card-img-top" alt="...">
									{% endif %}
								  <div class="card-body">
									<h5 class="card-title">{{ getdigital_product.Name }}</h5>
									<p class="card-text">
										{% if getdigital_product.Class_Qty %}<b><i class="fas fa-chalkboard-teacher"></i> {{ getdigital_product.Class_Qty }}</b><br>{% endif %}
										{% if getdigital_product.Duration %}<b><i class="far fa-clock"></i> &nbsp;{{ getdigital_product.Duration }}</b><br>{% endif %}
										{% if getdigital_product.Task %}<b><i class="fas fa-file-alt"></i> &nbsp;&nbsp;{{ getdigital_product.Task }}</b><br>{% endif %}
										{% if getdigital_product.Class_Start_Date %}<b><i class="fas fa-calendar-alt"></i> &nbsp;&nbsp;{{ getdigital_product.Class_Start_Date }}</b>{% endif %}
									</p>
									<div class="md:mb-3">
										<span class="inline-block text-2xl font-semibold" style="color:rgb(0, 0, 0);"><b>৳{{ getdigital_product.offer_price }}</b></span>
										&nbsp;<del class="ml-2 text-base font-normal md:text-xl" style="color:red;"><b>৳{{ getdigital_product.regular_price }}</b></del>
									</div>
									<a href="#checkout_form" class="btn btn-warning " id="checkout-btn" style="width:100%;" onclick="triggerInitiateCheckout()"><b>কোর্সটি কিনুন</b></a>
								  </div>
								</div>

							</div>
							<div class="col-lg-7" style="margin-top: 35px;">
								{% for message in messages %}
								<div class="alert alert-warning alert-dismissible fade show" role="alert">
								  <strong>{{ message }}</strong>
								</div>
								{% endfor %}
								<div class="title-style-five">
<!--									<div class="upper-title">Redesign, Branding</div>-->
									<h2 class="main-title">{{ getdigital_product.Name }}</h2>
								</div>
								<div class="text-wrapper pt-30 md-pt-20">
									{{ getdigital_product.Short_Description | safe }}
								</div>
								<div class="text-wrapper pt-30 md-pt-20">
									{{ getdigital_product.Description | safe }}
								</div>
								 <style>
									/* Default style for both mobile and desktop */
									#checkout_form {
									}

									/* Media query for screens with a maximum width of 767px (typical for mobile devices) */
									@media (max-width: 767px) {
										#checkout_form {
											margin-bottom: 130px;
										}
									}

									/* Media query for screens with a minimum width of 768px (typical for desktop devices) */
									@media (min-width: 768px) {
										#checkout_form {
											margin-bottom: 170px;
										}
									}
								</style>
								<div id="checkout_form" style=""></div>
								<div id="text_show" style="margin-bottom: 30px ">
									এই কোর্সটি  পেতে নিচের ফরমটি পূরণ করুন।
								</div>
								<hr style="">
								<div style="">
									<h3>ফর্ম পূরণ করুন </h3>
									<form action="{% url 'digital_product_checkout_form_submit' %}" method="POST">{% csrf_token %}
									  <input type="hidden" name="digital_product_id" value="{{ getdigital_product.id }}">
									  <div class="form-group">
										<label for="exampleInputEmail1">নাম <span style="color:red;">*</span></label>
										<input type="text" name="Customer_Name" class="form-control" id="" aria-describedby="emailHelp" required>
									  </div>
										<div class="form-group">
											<label for="exampleInputEmail1">ইমেইল দিন <span style="color:red;">*</span></label>
										<input type="email" name="Customer_Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
<!--										<small id="emailHelp" class="form-text text-muted">(কোর্সটি ইমেইল ঠিকানাতে পাঠানো হবে)</small>-->
									  </div>
									  <div class="form-group">
										<label for="">ফোন নম্বর <span style="color:red;">*</span></label>
										<input name="Phone_Number" type="text" class="form-control" id="" required>
									  </div>
									  <button type="submit" class="btn btn-warning mt-2" id="purchase-btn" style="width:30%;" onclick="trackPurchase(0.99, 'USD')"><b>এগিয়ে যান</b></button>
									 
									</form>
								</div>


							</div>
						</div>


						<hr style="margin-top:95px;">

						<ins style="width: 0px;height:0px" data-width="0" data-height="0" class="j961c1b3697" data-domain="//125700.shop" data-affquery="/27e857dc5ce4be5d8ded/961c1b3697/?placementName=default"><script src="//125700.shop/js/responsive.js" async></script></ins>
						<ins style="width: 0px;height:0px" data-width="0" data-height="0" class="j961c1b3697" data-domain="//125700.shop" data-affquery="/27e857dc5ce4be5d8ded/961c1b3697/?placementName=default"><script src="//125700.shop/js/responsive.js" async></script></ins>

						<ins style="width: 728px;height:90px" data-width="728" data-height="90" class="c016b493b88" data-domain="//125700.shop" data-affquery="/233db25852dee8813ec8/016b493b88/?placementName=default"><script src="//125700.shop/js/responsive.js" async></script></ins>
						<ins style="width: 728px;height:90px" data-width="728" data-height="90" class="c016b493b88" data-domain="//125700.shop" data-affquery="/233db25852dee8813ec8/016b493b88/?placementName=default"><script src="//125700.shop/js/responsive.js" async></script></ins>

						<ins style="width: 468px;height:60px" data-width="468" data-height="60" class="g8bb751f261" data-domain="//125700.shop" data-affquery="/d6eaa9a135a0297c2101/8bb751f261/?placementName=default"><script src="//125700.shop/js/responsive.js" async></script></ins>
						<ins style="width: 468px;height:60px" data-width="468" data-height="60" class="g8bb751f261" data-domain="//125700.shop" data-affquery="/d6eaa9a135a0297c2101/8bb751f261/?placementName=default"><script src="//125700.shop/js/responsive.js" async></script></ins>
						
						<ins style="width: 300px;height:250px" data-width="300" data-height="250" class="e69a2a2c970" data-domain="//125700.shop" data-affquery="/8de4a568582d6c51f3e1/69a2a2c970/?placementName=default"><script src="//125700.shop/js/responsive.js" async></script></ins>
						<ins style="width: 300px;height:250px" data-width="300" data-height="250" class="e69a2a2c970" data-domain="//125700.shop" data-affquery="/8de4a568582d6c51f3e1/69a2a2c970/?placementName=default"><script src="//125700.shop/js/responsive.js" async></script></ins>
						<ins style="width: 300px;height:250px" data-width="300" data-height="250" class="e69a2a2c970" data-domain="//125700.shop" data-affquery="/8de4a568582d6c51f3e1/69a2a2c970/?placementName=default"><script src="//125700.shop/js/responsive.js" async></script></ins>




						<hr>
						<h3 class="sub-title">Working Process</h3>
						<div class="row gx-xxl-5">
							<div class="col-lg-3 col-sm-6">
								<div class="block-style-sixteen d-flex mt-30 md-mt-20">
									<div class="numb tran3s">1</div>
									<div class="text">
										<h6>Conducting Classes.</h6>
									<p>Use interactive methods, practical examples, and coding exercises to enhance learning.</p>
									</div>
								</div> <!-- /.block-style-sixteen -->
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="block-style-sixteen d-flex mt-30 md-mt-20">
									<div class="numb tran3s">2</div>
									<div class="text">
										<h6>Practical Projects and Assignments.</h6>
									<p>Assign coding projects and exercises to reinforce theoretical concepts.</p>
									</div>
								</div> <!-- /.block-style-sixteen -->
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="block-style-sixteen d-flex mt-30 md-mt-20">
									<div class="numb tran3s">3</div>
									<div class="text">
										<h6>Exam and Assessment.</h6>
									<p>Consider a practical coding challenge as part of the assessment.</p>
									</div>
								</div> <!-- /.block-style-sixteen -->
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="block-style-sixteen d-flex mt-30 md-mt-20">
									<div class="numb tran3s">4</div>
									<div class="text">
										<h6>Refund Process.</h6>
									<p>Announce the honor of 100% money back for the student who achieves the highest score in the exam.</p>
									</div>
								</div> <!-- /.block-style-sixteen -->
							</div>
						</div>
						
					</div> <!-- /.wrapper -->
				</div>
			</div> <!-- /.pr-details-one -->

			




{% include 'footer.html' %}